/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/

/* Général */

* { box-sizing: border-box;}

body {
  width: 100vw;
  height: 100vh;
  background: #e5e5e5;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  margin: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container-general {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  
}

a {
  text-decoration: none;
  color: #000000;
}

h2 {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

/*barre de navigation et boutons pour mode admin*/

.admin-nav {
  height: 59px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  display: none;
}

.edition {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.publish{
  color: #000000;
  background: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  border-radius: 60px;
  width: 216px;
  height: 38px;
}

.modifier {
  display: none;
  /*background: #E5E5E5;
  border: none;*/
  cursor: pointer;
}
.modifier .fa-regular {
  border: none;
  margin-right: 5px;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne", sans-serif;
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 0px;
  letter-spacing: 0.05em;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 16px;
  font-weight: 400;
  margin-left: 40px;
  padding-bottom: 14px;
}
li button {
  border: none;
  background: #e5e5e5;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

li img {
  height: 16px;
  width: 16px;
  margin-left: 14px;
}

li:active,
nav a:active {
  font-weight: 700;
}
nav a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
}

/* Main */

main {
  width: 85%;
  margin: 0 12.5%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

/* Section Indrotuction */

#introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 139px 0px 139px 0px;
  position: relative;
}

.introduction {
  margin-left: 8%;
}

#introduction figure {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
}
#introduction img {
  display: flex;
  justify-content: left;
  margin: 0px;
  width: 100%;
}

#introduction article {
  flex: 1;
  padding: 0;
}
#introduction h2 {
  text-align: left;
  margin-bottom: 0.6em;
}

#introduction p {
  text-align: left;
  margin-bottom: 0.5em;
  font-size: 14px;
  font-weight: 400;
  width: 92%;
}

 #bouton-modifier-introduction {
  position: absolute;
  top: 5%;
 }

/* section Portfolio with filter buttons*/

#portfolio h2 {
  text-align: center;
}

.mes-projets {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 31px;
  margin-bottom: 30px;
}

.btns-filter {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 50px;
  width: 100%;
}
.btn-filter {
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  background-color: #e5e5e5;
  color: #1d6154;
}
#btn-Tous {
  border: 1px solid #1d6154;
  border-radius: 60px;
  padding: 9px 30px 9px 28px;
  /*height: 37px;
  /*width: 100px;*/
}

#btn-Tous:active,
#btn-Objets:active,
#btn-Appartements:active,
#btn-Hotels:active {
  background-color: #1d6154;
  color: #ffffff;
}
#btn-Objets {
  border: 1px solid #1d6154;
  border-radius: 60px;
  padding: 9px 22px 9px 20px;
  /*height: 37px;
  /*width: 100px;*/
}

#btn-Appartements {
  border: 1px solid #1d6154;
  border-radius: 60px;
  padding: 9px 14px 9px 15px;
  /*height: 37px;
  /*width: 157px;*/
}

#btn-Hotels {
  border: 1px solid #1d6154;
  border-radius: 60px;
  padding: 9px 11px 9px 9px;
 /* height: 37px;
  /*width: 198px;*/
}

/* div gallery */

.gallery {
  /*margin-left: 1%;*/
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
.gallery figcaption {
  font-family: "work sans";
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}

/* Form  section contact*/

#contact {
  width: 50%;
  margin: auto;
  margin-top: 57px;
}
#contact > * {
  text-align: center;
}
/*
#contact h2 {
  margin-bottom: 0px;
}*/

#contact form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#contact input {
  height: 50px;
  border: none;
  font-size: 1.2em;
}

#contact label {
  font-family: "work-sans";
  font-size: 14px;
  font-weight: 500;
  margin: 38px 0 7px 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  width: 180px;
  background-color: #1d6154;
  border: none;
  border-radius: 60px;
  color: white;
  font-size: 14px;
  font-family: "Syne";
  font-weight: 700;
  margin: 2.5em auto;
  text-align: center;
}

#contact input[type="submit"]:active {
  background-color: #000000;
  color: white;
}

/* Footer*/

footer nav ul {
margin-right: 7.4%; 
display: flex;
justify-content: end;
}

/*Partie login*/

.form {
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form .input {
  display: flex;
  flex-direction: column;
  margin: 2px 0px 30px 0px;
  padding: 5px;
}
.input input[type="submit"] {
  padding: 10px 38px 9px 39px;
}
.input input[type="submit"]:active {
  background: #000000;
}

.input input[type="password"],
.input input[type="email"] {
  height: 49px;
  width: 379px;
  border: none;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

label {
  width: 100%;
  background: #e5e5e5;
  font-family: "work sans";
  font-size: 14px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 7px;
  text-align: left;
}

::placeholder {
  background: #ffffff;
}
.input h2 {
  color: #1d6154;
  font-family: "syne";
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

form a {
  color: #3d3d3d;
  text-align: center;
}
form #errorInformation {
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid red;
  background-color: #F0CCD8;
}

.footer-login {
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* fenêtres modal */

.close-modal, .close-modal2 {
  padding: 6px;
  height: 12px;
  width: 12px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 2.9%;
  right: 4.8%;
  background: #FFFFFF;
  color: #000000;
}

.modal-container {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  transition: visibily 0.5s;
}

.modal-container.active {
  visibility: visible;
}

.modal-overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s 0.2s ease-out;
}
.modal-container.active .modal-overlay {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.modal-galerie {
  display: flex;
  flex-flow: column wrap;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 52%;
 /* width: 28.5%;
  height: 43.5%;*/
  /*min-width: 300px;
  min-width: 500px;*/
  /*overflow: auto;*/
  width: 630px;
  height: 731px;
  background: #FFFFFF;
  border: 2px solid #1d6154;
  border-radius: 10px;
  font-family: 'work sans';
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  transform: translateX(-50%);
  transform: opacity 0.3s ease-out;
  z-index: -1;
}

.modal-container.active .modal-galerie {
  opacity: 1;
  transition: opacity 0.3s 0.2s ease-out;
}

.modal-galerie h1, .add-photo h1{
  color: #000000;
  font-family: 'work sans';
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  margin-top: 60px;
  z-index: 1;
}

.button-modal {
  position: absolute;
  bottom: 88px;
  left: 50%;
  transform: translateX(-50%);
  width: 237px;
  background: #1D6154;
  border-radius: 60px;
  color: #FFFFFF;
  font-family: 'Syne';
  font-size: 14px;
  font-weight: 700;
  padding: 10px 48px 9px 48px;
}

.button-del-photo {
  position: absolute;
  left: 50%;
  bottom: 48px ;
  transform: translateX(-50%);
  background: transparent;
  border: none;
  color: #D65353 ;
  font-family: 'Syne';
  font-size: 14px;
  font-weight: 400;
}
.border-modal {
  position: absolute;
  bottom: 162px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  border-top: 1px solid #B3B3B3;
}
.gallery-modal {
  width: 70%;
  height: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid blue;
  margin-top: 46px;
}


.modal2-container {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  transition: visibily 0.5s;
}

.modal2-container.active {
  visibility: visible;
}


.add-photo {
  display: flex;
  flex-flow: column wrap;
  opacity: 1;
  position: absolute;
  top: 40%;
  left: 52%;
  width: 630px;
  height: 731px;
  background: #FFFFFF;
  border: 2px solid #1d6154;
  border-radius: 10px;
  font-family: 'work sans';
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  transform: translateX(-50%);
}

#button-add-photo {
  background: #A7A7A7;
  position: absolute;
  bottom: 55px;
}

#previous-arrow {
  position: absolute;
  top: 2.9%;
  left: 4.8%;
  cursor: pointer;
  border: none;
  background: #FFFFFF;
}