/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/

/* Général */
body {
  max-width: 1140px;
  margin: auto;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
}

h2 {
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}


/* header */
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne", sans-serif;
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
  
}

h1 > span {
  font-family: "Work Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 0px;
  letter-spacing: 0.05em;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 16px;
  font-weight: 400;
  margin-left: 40px;
  padding-bottom: 14px;
}

li img {
  height: 16px;
  width: 16px;
  margin-left: 14px;
}

li:hover, nav a:hover {
  font-weight: 700;
}
nav a {
  text-decoration: none;
  color:#000000 ;
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
}
/* Main */
main {
  width: 90%;
  margin: auto;
}
/* Section Indrotuction */
#introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 139px 0px;
}

.introduction {
  margin-left: 6%;
}

#introduction figure {
  flex: 1;
}
#introduction img {
  display: flex;
  justify-content: left;
  margin: 0 auto;
  width: 92.5%;
}

#introduction article {
  flex: 1;
  padding: 0, 0%;
}
#introduction h2 {
  text-align: left;
  margin-bottom: 0.6em;
}

#introduction p {
  text-align: left;
  margin-bottom: 0.5em;
  font-size: 14px;
  font-weight: 400;
  width: 85%;
}

/* section Portfolio with filter buttons*/

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.btns-filter {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 50px;
  width: 100%;
}
.btn-filter {
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  color: #1d6154;
}
#btn-all {
  border: 1px solid #1d6154;
  border-radius: 60px;
  padding: 9px 30px 9px 28px;
  height: 37px;
  /*width: 100px;*/
}

#btn-all:active,
#btn-object:active,
#btn-appartment:active,
#btn-hotel:active {
  background-color: #1d6154;
  color: #ffffff;
}
#btn-object {
  border: 1px solid #1d6154;
  border-radius: 60px;
  padding: 9px 22px 9px 20px;
  height: 37px;
  /*width: 100px;*/
}

#btn-appartment {
  border: 1px solid #1d6154;
  border-radius: 60px;
  padding: 9px 14px 9px 15px;
  height: 37px;
  /*width: 157px;*/
}

#btn-hotel {
  border: 1px solid #1d6154;
  border-radius: 60px;
  padding: 9px 11px 9px 9px;
  height: 37px;
  /*width: 198px;*/
}

/* div gallery */
.gallery {
  margin-left: 1%;
  width: 92%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
.gallery figcaption {
  font-family: "work sans";
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}

/* Form  section contact*/
#contact {
  width: 50%;
  margin: auto;
  margin-top: 57px;
}
#contact > * {
  text-align: center;
}/*
#contact h2 {
  margin-bottom: 0px;
}*/
#contact form {
  text-align: left;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 38px 0 7px 0;
  font-family: "work-sans";
  font-size: 14px;
  font-weight: 500;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2.5em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

/* Footer*/
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

 /*Partie login*/
